.tbody {
    background: url('https://rxzxbw.bl.files.1drv.com/y4mVTo2359f-R8ZzhfGNFHGMDsGro-rNFtS-H5jIioOIhEgBE7vp1rkIlxBtYld86ceuJ9QpYUJCA3xH3yWc6eQHyM42mF5sKTTVcRv9JpoRbXl1l2Q10wWqZhP9i3EBE-Z5mRVkAICUTWhcEp7ruw4bT6_CCM9kpGQ5alasH-iH-5iBGo17BvFnXHMu864Mion1C6ohCze9m4ZMyx0w-aJZg?width=2400&height=1500&cropmode=none'); }

    img {
    border-radius: 50%;
    }
    blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 13px;
    /*font-weight: bold;*/
    line-height: 14px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    /*border-style: solid;*/
    border-width: 1px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.30);
    margin: 10px 7px;
    padding: 0 16px 16px 16px;
    max-height: 120px;
    max-width: 250px;
    }

    blockquote.twitter-tweet p {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    }

    blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
    }

    blockquote.twitter-tweet a:hover,
    blockquote.twitter-tweet a:focus {
    text-decoration: underline;
    }

  h1 {
      font: 500 1.5em/1 'Raleway', sans-serif;
      color: rgba(128,0,0,.5);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .5em;
      position: absolute;
      width: 100%;
  }

  span, span:after {
      font-weight: 900;
      /*color: #efedce;*/
      color: rgba(128,0,0,.8);
      white-space: nowrap;
      display: inline-block;
      position: relative;
      letter-spacing: .1em;
      padding: .2em 0 .25em 0;
  }

  span {
      font-size: 4em;
      z-index: 100;
      text-shadow: .04em .04em 0 #9cb8b3;
  }

  span:after {
      content: attr(data-shadow-text);
      color: rgba(0,0,0,.35);
      text-shadow: none;
      position: absolute;
      left: .0875em;
      top: .0875em;
      z-index: -1;
      -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
  }
